.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #6366F1;
  padding: 10px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
}

/* Hamburger Menu */
.Profile {
  display: flex;
  font-size: 24px;
  cursor: pointer;
}

.Profile p {
  margin-left: 5px;
  font-size: 16px;
  color: white;
} 

/* Mobile Responsive */
@media (max-width: 768px) {
  .navbar {
    height: 80px;
  }

  .nav-logo {
    font-size: 25px;
  }

  .Profile {
    display: block;
    font-size: 30px;
    margin-left: auto;
    margin-right: 10px; 
  }
  .Profile p{
    display: none;
  }
}